version: '3'

services:
  sql:
    build: ./docker/mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=$#mysqlPassword#$
      - MYSQL_USER=$#mysqlUsername#$
      - MYSQL_PASSWORD=$#mysqlPassword#$
      - MYSQL_DATABASE=$#mysqlDatabase#$
    ports:
      - $#mysqlPort#$:$#mysqlPort#$
